
form button:hover i{
    transform: translateY(-2px) translateX(2px);
}

@media (max-width: 892px) {
    .contact-area{
        height: 150vh;
    }
}

@media (max-width: 500px) {
    .contact-area{
        height: 70vh;
    }
}

/*Animation*/
