@media (max-width: 910px) {
    .main-nav{
        font-size: 14px;
    }
    .auth-nav{
        font-size: 14px;
    }
}


/*Social Bar*/
.drop-two{
    position: relative;
}

.menu-two{
    position: absolute;
    list-style: none;
    left: 0;
    display: none;
    background-color: #d6d6d8;
    border-radius: 5px;
}

.menu-two li{
    padding: 9px;
}

.drop-two:hover > .menu-two{
    display: block;
}

.menu-two li:hover{
    background: orange;
}

span{
    display: inline-block;
    margin-left: 5px;
    transition: 0.3s;
}
.drop-one:hover span,
.drop-two:hover span{
    transform: rotate(-180deg);
}

@media (max-width: 1100px) {
    #navbar{
        margin: 0;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 950px) {
    #navbar{
        position: absolute;
        top: 50px;
        left: -100%;
        text-align: left;
        transition: 0.5s linear;
    }

    #navbar li{
        display: block;
    }

    .menu-one{
        position: relative;
        box-shadow: none;
        display: none;
    }

    .drop-one:hover > .menu-one{
        display: block;
    }

    .menu-one ul{
        text-align: left;
    }

    .menu-two{
        position: relative;
    }

    .bars{
        display: block;
    }

    #navbar.active{
        left: 0;
    }
}
