.content-area #header_content_title, .content-area #header_content_text{
    color: white;
}

.content-area .seeProductsButton{
    color: white;
}

.content-area .product-card-show-button:hover svg{
    transform: rotate(180deg);
}

.content-area .see-top-user-products-button:hover i{
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

/*Slider*/
.content-area .carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.content-area .carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.content-area #carousel-1:checked ~ .control-1,
.content-area #carousel-2:checked ~ .control-2,
.content-area #carousel-3:checked ~ .control-3 {
    display: block;
}
.content-area .carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.content-area #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
.content-area #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
.content-area #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #2b6cb0;
}
/*Slider End*/


@media only screen and (max-width: 1500px) {
    .content-area .slider-area{
        box-shadow: 1px 1px 10px -5px #4a5568;
    }

    .content-area .slider-area .slider-grid-type{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-area .slider-area .slider-grid-type img{
        margin-top: 15px;
    }
}

@media only screen and (max-width: 1440px) {
    .product-card-area{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 892px) {
    .home-bottom-area{
        display: flex;
        flex-direction: column;
    }
    .slider-area .carousel-item{
        height: auto !important;
    }
    .slider-grid-type{
        padding: 30px;
    }

    .show-products-button{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 640px) {
    .content-area .header-content-text-area{
        font-size: .875rem;
        line-height: 1.25rem;
    }

    .content-area .slider-area .slider-grid-type .slide-ul{
        margin-top: 75px;
        padding: 30px;
    }

    .show-products-button{
        margin-bottom: 30px;
    }
}

/*Animate*/
@keyframes shake {
    0%{transform: rotate(-6deg)}
    30%{transform: rotate(8deg)}
    50%{transform: rotate(-8deg)}
    70%{transform: rotate(6deg)}
    100%{transform: rotate(-8deg)}
}
/*Animate End*/
