.shopping-bag-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-table{
    overflow: scroll;
    width: 100%;
    height: 50vh;
}



@media (max-width: 900px) {
    .shopping-bag-area{
        display: contents;
    }
    .shopping-bag-area .shopping-bag-content .shopping-bag-product-details{
        width: 100%;
    }

    .shopping-bag-area .shopping-bag-content #summary{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .shopping-bag{
        height: 200vh;
    }

    .shopping-bag-area .shopping-bag-content{
        flex-direction: column;
    }

    .shopping-bag-area .shopping-bag-content .shopping-bag-product-details{
        width: 100%;
    }

    .shopping-bag-area .shopping-bag-content #summary{
        width: 100%;
    }
}
