
@media (max-width: 900px) {
    .profile-content-area{
        height: 320vh;
    }
    .profile-content-area .profile-edit-product-form{
        width: 100% !important;
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .profile-content-area{
        height: 180vh;
    }

    .profile-content-area .profile-edit-product-form{
        width: 100% !important;
        padding: 20px;
    }
}
